# Ignore the build directory and all its contents
rlsolver/docs/build/

# Ignore all HTML files
*.html

# Ignore specific files
rlsolver/docs/build/html/helloworld/net.html
rlsolver/docs/build/html/helloworld/run.html

# IDE configuration files
.idea/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Sphinx build directory
rlsolver/docs/build/

# Optional: Ignore temporary Markdown files
*.md.txt

baseline/
build_models/

